* {

}

html {
    margin: 50px;
    font-size: 10px;
}


/*精魂故事*/
.roll_SpiritTales {   
}
.shake {
    animation: shake 0.5s infinite;
}
@keyframes shake {
  0% { transform: translateX(0); }
  10% { transform: translateX(-10px); }
  20% { transform: translateX(10px); }
  30% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }
  50% { transform: translateX(-10px); }
  60% { transform: translateX(10px); }
  70% { transform: translateX(-10px); }
  80% { transform: translateX(10px); }
  90% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}

.container_Tale {
    display: flex;
    flex-direction: column;

    border: 2px solid black;
    justify-content: space-around;
    margin: 6px 12px 6px 12px;
    padding: 6px 12px 6px 12px;
}

.row_Tale{
    display: flex;
    flex-direction: row;

    justify-content: space-around;
}


.item_Tale {
    flex:1;
    font-size: 1em;
    text-align: center;
    background: SteelBlue;
    color: white;
    margin: 12px;
    padding: 12px;
    border: 1.5px solid black;
}



/* main section*/
main {
    color: black;
}

p {
    margin-top: 10px;
}



/* 
.change_color {
    animation: enlarge 1s infinite;
}
@keyframes change_color {
  0% { background-color:SteelBlue; }
  50% { background-color:red; }
  100% { background-color:SteelBlue; }
}
*/